.containerDataCorona {
    color: white;
}

.containerDataCorona .card {
    box-shadow: 0 25px 5px -20px black;
}

.containerDataCorona .card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width :578px) {
    .containerDataCorona {
        width: 300px;
        margin: auto;
    }
    .judul h1 {
        font-size: 30px;
        width: 300px;
        margin: auto;
    }
}